{% extends 'page.html.twig' %}

{% block title %}{{ 'Log in' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'Log in' | trans }}</h1>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">{{ 'Email' | trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'Email' | trans }}" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">{{ 'Password' | trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'Password' | trans }}" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {{ 'Remember me' | trans([], 'security') }}
            </label>
        </div>

        <button class="btn btn-primary" type="submit">
            {{ 'Sign in' | trans }}
        </button>
    </form>
{% endblock %}
